{% extends 'sections.html' %}

{% block section0_content %}
    <form method="post" action="/" name="loan">
        {{ form.csrf_token }}
        <div class="field">
            <p class="control has-icons-left">
                {{ form.balance }}
            </p>
            {% if form.balance.errors %}
                <ul class="errors">{% for error in form.balance.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="field">
            <p class="control has-icons-left">
                {{ form.interest }}
            </p>
            {% if form.interest.errors %}
                <ul class="errors">{% for error in form.interest.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="field">
            <p class="control has-icons-left">
                {{ form.graduation }}
            </p>
            {% if form.graduation.errors %}
                <ul class="errors">{% for error in form.graduation.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        <div class="field">
            <div class="control">
                {{ form.submit }}
            </div>
        </div>
    </form>
{% endblock %}
